In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:95% !important;}</style>"))
%load_ext autoreload
%autoreload 2

In [2]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [38]:
#from seq_generator.query_generator import *
#from seq_generator.mismatch_generator import *
#from encoder_decoder.seq_encoder_decoder import *
#import encoder_decoder.seq_encoder_decoder
from seq_generator.data_generator import *
from job_script.cas_offinder_job import *

In [4]:
import numpy as np

In [5]:
tmp_data = generate_8_nC2_data(
    num_set = 1,
    threshold = 7,
    log = True,
    job_name = 'test',
    save_path = '.'
)

In [6]:
tmp_query = tmp_data.query_data
tmp_query

array(['TTATTGCAAGTATAATAGAT', 'CATTTAAGATTTCTGGACCG',
       'GATGTAACTCTGCATAATCC', 'TTAGTATCCCGGGCGCCTGG',
       'GGATCGCATAAATATATATG', 'GGCCGCCAACAATGCCCTGG',
       'CGCGCCCACGCCCGTAATAA', 'GCCTGTACGCCGGGGACGGT'], dtype='<U20')

In [9]:
make_cas_offinder_script(
    query_seq_list = tmp_query,
    job_name = 'test_job',
    job_path = f'./test',
)

In [ ]:
seq_list = tmp_query
batch_type_code_seq_list = []
for _seq in seq_list:
    _type_code = query_type_code_encoder.seq_type_code_encoder(_seq)
    batch_type_code_seq_list.append((_type_code,_seq))

In [ ]:
np.array(batch_type_code_seq_list)

In [ ]:
len(seq_list.shape)

In [ ]:
seq_list.dtype

['0', '1', '2', '3']

In [12]:
import pandas as pd

In [39]:
analysis_cas_offinder_result(
    output_file_path='./test/test_job_out.txt',
    query_text_path='./test/test_query.txt',
    save_csv=True,
)

  Type_code                 query GC_rate AT_rate mis_0 mis_1 mis_2 mis_3 mis_4
0       222  TTATTGCAAGTATAATAGAT     0.2     0.8     0     0     2    11   230
1       221  CATTTAAGATTTCTGGACCG     0.4     0.6     0     1     6   114   295
2       212  GATGTAACTCTGCATAATCC     0.4     0.6     0     0     0     5    78
3       211  TTAGTATCCCGGGCGCCTGG    0.65    0.35     0     0     0     2    30
4       122  GGATCGCATAAATATATATG     0.3     0.7     0     0     0     6   111
5       121  GGCCGCCAACAATGCCCTGG     0.7     0.3     0     0     1    11    77
6       112  CGCGCCCACGCCCGTAATAA    0.65    0.35     0     0     0     0     5
7       111  GCCTGTACGCCGGGGACGGT    0.75    0.25     0     0     0     3    54

In [28]:
%debug

> /usr/local/lib/python3.7/dist-packages/pandas/core/frame.py(590)__init__()
    588         else:
    589             if index is None or columns is None:
--> 590                 raise ValueError("DataFrame constructor not properly called!")
    591
    592             if not dtype:

ipdb> exit

In [ ]:
import pathlib

In [ ]:
file_path = '/root/volume/q-seq-maker/jupyter_notebook'
if pathlib.PureWindowsPath(file_path).suffix:
    print("file")
    print(pathlib.Path(file_path).parent)
else:
    print('dir')
    print(pathlib.PureWindowsPath(file_path))

In [ ]:
print(pathlib.Path(file_path).suffix)