In [58]:
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:95% !important;}</style>"))
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [55]:
#from seq_generator.query_generator import *
#from seq_generator.mismatch_generator import *
#from encoder_decoder.seq_encoder_decoder import *
#import encoder_decoder.seq_encoder_decoder
from seq_generator.data_generator import *
from job_script.cas_offinder_job import *

In [4]:
import numpy as np
import subprocess

In [52]:
job_name = 'main_test'
path = '.'

In [7]:
#tmp_data = generate_8_nC2_data(
#    num_set = 3,
#    threshold = 7,
#    log = True,
#    job_name = job_name,
#    save_path = path,
#)

In [8]:
#make_cas_offinder_script(
#    query_seq_list=tmp_data.query_data,
#    job_name = job_name,
#    job_path = f"{path}/{job_name}",
#)

In [12]:
#run_cas_offinder(
#    file_path = f"{path}/{job_name}/run_{job_name}_script.sh",
#    log = True
#)

In [56]:
tmp_df = analysis_cas_offinder_result(
    output_file_path = f"{path}/{job_name}/{job_name}_output.txt",
    query_text_path = f"{path}/{job_name}/query_{job_name}.txt",
)

In [57]:
tmp_df

,Type_code,query,GC_rate,AT_rate,mis_0,mis_1,mis_2,mis_3,mis_4
39,111,GACACGGCGGAGGCGCCCTT,0.75,0.25,0,0,0,7,48
71,111,GCGGGGCGCGCCGGCCGGGA,0.95,0.05,0,0,9,79,546
63,111,GTACCCGCTGTCCCCGGGCC,0.8,0.2,0,0,1,12,150
55,111,GGAGAGTAAGGGCGGGCCCA,0.7,0.3,0,0,0,21,242
47,111,GCCGCCACTCGGCTGCGAGA,0.75,0.25,0,0,0,8,37
...,...,...,...,...,...,...,...,...,...
72,222,AAGTTTTCGACTAAACAATA,0.25,0.75,0,0,2,8,132
32,222,TTGCTAATAAATGAATTCTA,0.2,0.8,0,0,4,19,314
24,222,AAATAAGATTATAAAGAGAA,0.15,0.85,0,1,2,125,1248
16,222,TATGATCAAAAAAATAGACA,0.2,0.8,0,0,2,62,632
0,222,TAATATTTCTAAATTTTACC,0.15,0.85,0,0,2,71,532

> <__array_function__ internals>(6)concatenate()

ipdb> u
> /root/volume/q-seq-maker/job_script/cas_offinder_job.py(145)analysis_cas_offinder_result()
    143         query_cg_at_ratio_list,
    144         query_mismatch_info_list],
--> 145         axis=1
    146     )
    147     columns_header = [

ipdb> query_mismatch_info_list.shape
(80, 5)
ipdb> query_cg_at_ratio_list.shape
(79, 2)
ipdb> query_list.shape
(80,)
ipdb> exit

In [18]:
def query_seq_generate(job_name, path='./', method=generate_8_nC2_data):
    job_path = f"{path}/{job_name}"
    cas_offinder_script_path = f"{job_path}/run_{job_name}_script.sh"
    output_file_path = f"{job_path}/{job_name}_output.txt"
    query_file_path = f"{job_path}/{job_name}_query.txt"
    data = method(
        num_set = 3,
        threshold = 7,
        log = True,
        job_name = job_name,
        save_path = path,
    )
    make_cas_offinder_script(
        query_seq_list = data.query_data,
        job_name = job_name,
        job_path = job_path,
    )
    run_cas_offinder(
        file_path = cas_offinder_script_path,
        log = True,
    )
    result_df = analysis_cas_offinder_result(
        output_file_path = output_file_path,
        query_text_path = query_file_path,
    )
    return result_df

In [19]:
query_seq_generate(
    job_name = "pipeline_test",
    path = './test',
    method = generate_8_nC2_data,
)

,Type_code,query,GC_rate,AT_rate,mis_0,mis_1,mis_2,mis_3,mis_4
0,222,TTTTATTTATGAATATGAGT,0.15,0.85,0,0,7,58,863
1,221,TTTATAACGTTTGTCGTGGC,0.4,0.6,0,0,0,2,74
2,212,TAATTAAGTCCGGGAATGTC,0.4,0.6,0,0,0,4,67
3,211,TTTTTTAGTGGGGGCTGCGG,0.55,0.45,0,0,3,59,417
4,122,TCCCCGGAATTAATATTTCG,0.4,0.6,0,0,0,1,39
5,121,TCGGATCAAAAATATGGCGG,0.45,0.55,0,0,0,2,35
6,112,CCGAGCCACGCCGAAATATG,0.6,0.4,0,0,0,0,25
7,111,GGCGAGCCATCCCGGCGGCC,0.85,0.15,0,0,1,5,116
8,222,CACCTTATTTAATTATATTT,0.15,0.85,0,0,3,44,456
9,221,TAAATTATTATAGCCCGTGG,0.35,0.65,0,0,0,1,89
10,212,CAATACTCGAACGGCAAACA,0.45,0.55,0,0,0,2,38
11,211,ATTTTATCCGGGCCAGGCCG,0.6,0.4,0,0,0,0,26
12,122,CCGGGGCAAATAATAATATG,0.4,0.6,0,0,1,3,67
13,121,GGCAGTTAAAATATCCGTCC,0.45,0.55,0,0,0,3,62
14,112,GCCTAGCGGATCGCTGTAAT,0.55,0.45,0,0,0,0,9
15,111,GCTGGTTGGTGCGACGGGCC,0.75,0.25,0,0,0,4,110
16,222,TTTATTGATAATGCGAGATA,0.25,0.75,0,0,2,13,243
17,221,GCAAAATGAAAATACTACGC,0.35,0.65,0,0,1,7,161
18,212,CTGGTAACTGGAGAAAATCT,0.4,0.6,0,0,0,14,239
19,211,ACTGAATACTCCTCCGGCGT,0.55,0.45,0,0,0,1,18
20,122,TCCGCGCTTACGTCTAATCA,0.5,0.5,0,0,0,2,8
21,121,CACCGCCTTTAATTCTGGCC,0.55,0.45,0,0,0,3,84
22,112,CCCCGGCCGCCAGCTAGTAT,0.7,0.3,0,0,0,1,68
23,111,GGCCGCCACCGGCGGGGACC,0.9,0.1,0,0,0,11,186

In [ ]:
tmp_data = generate_8_nC2_data(
    num_set = 1,
    threshold = 7,
    log = True,
    job_name = 'test',
    save_path = '.'
)

In [ ]:
tmp_query = tmp_data.query_data
tmp_query

In [ ]:
make_cas_offinder_script(
    query_seq_list = tmp_query,
    job_name = 'test_job',
    job_path = f'./test',
)

In [ ]:
seq_list = tmp_query
batch_type_code_seq_list = []
for _seq in seq_list:
    _type_code = query_type_code_encoder.seq_type_code_encoder(_seq)
    batch_type_code_seq_list.append((_type_code,_seq))

In [ ]:
import pandas as pd

In [ ]:
analysis_cas_offinder_result(
    output_file_path='./test/test_job_out.txt',
    query_text_path='./test/test_query.txt',
    save_csv=True,
)

In [ ]:
command = ["bash",'../test/run_test_job_script.sh']
cas_offinder_run = subprocess.Popen(
    command,
    stdin=subprocess.PIPE,
    stdout=subprocess.PIPE,
    stderr=subprocess.PIPE,
    text=True,
)

In [ ]:
output, log = cas_offinder_run.communicate()

In [ ]:
print(output)

In [ ]:
print(log)

In [90]:
class test_name:
    def print_class_name(self,):
        print(type(self).__name__)

In [91]:
class_tmp = test_name()

In [92]:
class_tmp.print_class_name()

test_name

In [93]:
class test_name_2(test_name):
    def print_hi(self,):
        self.print_class_name()

In [94]:
class_tmp_2 = test_name_2()

In [95]:
class_tmp_2.print_hi()

test_name_2