In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:95% !important;}</style>"))
%load_ext autoreload
%autoreload 2

In [2]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [151]:
#from seq_generator.query_generator import *
from seq_generator.mismatch_generator import *
from encoder_decoder.seq_encoder_decoder import *
#import encoder_decoder.seq_encoder_decoder
from seq_generator.data_generator import *
from job_script.cas_offinder_job import *

In [144]:
import numpy as np

In [180]:
ontarget = 'TTTCCCTTCAGCTAAAATAA'
seq_type = 222
job_name = f'type_{seq_type}'
save_path = '../data/other_paper_offtarget'

In [181]:
NB_data = generate_NB_mm_from_query(ontarget,job_name,save_path)

In [182]:
NB_data.save_seq_to_text()

In [183]:
NB_data.return_dataframe(save=True)

,on-target,off-target,number of mismatch,mismatch info
0,TTTCCCTTCAGCTAAAATAA,ATTCCCTTCAGCTAAAATAA,1,1:T>A
1,TTTCCCTTCAGCTAAAATAA,CTTCCCTTCAGCTAAAATAA,1,1:T>C
2,TTTCCCTTCAGCTAAAATAA,GTTCCCTTCAGCTAAAATAA,1,1:T>G
3,TTTCCCTTCAGCTAAAATAA,TATCCCTTCAGCTAAAATAA,1,2:T>A
4,TTTCCCTTCAGCTAAAATAA,TCTCCCTTCAGCTAAAATAA,1,2:T>C
...,...,...,...,...
815,TTTCCCTTCAGCTAAAATAA,TTTCCCTTCAGCTAAAAAAC,2,"18:T>A,20:A>C"
816,TTTCCCTTCAGCTAAAATAA,TTTCCCTTCAGCTAAAATGG,2,"19:A>G,20:A>G"
817,TTTCCCTTCAGCTAAAATAA,TTTCCCTTCAGCTAAAATGC,2,"19:A>G,20:A>C"
818,TTTCCCTTCAGCTAAAATAA,TTTCCCTTCAGCTAAAATTG,2,"19:A>T,20:A>G"
819,TTTCCCTTCAGCTAAAATAA,TTTCCCTTCAGCTAAAATTC,2,"19:A>T,20:A>C"

array(['CCGT', 'GCGT', 'TCGT', 'AAGT', 'AGGT', 'ATGT', 'ACAT', 'ACCT',
       'ACTT', 'ACGA', 'ACGC', 'ACGG', 'GTGT', 'GAGT', 'TTGT', 'TAGT',
       'GCAT', 'GCCT', 'TCAT', 'TCTT', 'GCGC', 'GCGG', 'TCGC', 'CCGG',
       'ATAT', 'ATCT', 'AGAT', 'AATT', 'ATGC', 'ATGG', 'AAGC', 'AGGA',
       'ACAC', 'ACAG', 'ACTC', 'ACCA'], dtype='<U32')

In [150]:
NB_data.save_seq_to_text()

[seq_generator.data_generator.generate_NB_mm_from_query,
 seq_generator.data_generator.generate_mismatch_data,
 object]

AttributeError: type object 'generate_mismatch_data' has no attribute 'keys'

In [ ]:
#nucleobase_method_sd = lambda l_1,l_2 : make_mismatch.change_nucleobase_two_input(l_1,l_2,[True,False])
from functools import partial
NB_SS = partial(make_mismatch.change_nucleobase_two_input,change_type_list=[True,True])
SS_list = double_nC2_seq_list_with_method('ACGT',NB_SS)
NB_SD = partial(make_mismatch.change_nucleobase_two_input,change_type_list=[True,False])
SD_list = double_nC2_seq_list_with_method('ACGT',NB_SD)
NB_DS = partial(make_mismatch.change_nucleobase_two_input,change_type_list=[False,True])
DS_list = double_nC2_seq_list_with_method('ACGT',NB_DS)
NB_DD = partial(make_mismatch.change_nucleobase_two_input,change_type_list=[False,False])
DD_list = double_nC2_seq_list_with_method('ACGT',NB_DD)

In [ ]:
lists = np.stack([SS_list,SD_list,DS_list,DD_list],axis=1)
lists

In [ ]:
lists.reshape(-1,)

In [ ]:
lists

In [ ]:
job_name = 'mis_save_test'
path = '.'

In [ ]:
tmp_data = generate_8_nC2_data(
    num_set = 3,
    threshold = 7,
    log = True,
    job_name = job_name,
    save_path = path,
)

In [ ]:
tmp_data.ontarget_data

In [ ]:
tmp_data.mis_1_data.shape

In [ ]:
tmp_data.mis_2_data.shape

In [ ]:
tmp_data.mis_2_dis_data.shape

In [ ]:
ontarget_list = tmp_data.ontarget_data
offtarget_list = tmp_data.mis_2_data
pd_data_list = []
for _ontarget, _offtarget_list in zip(ontarget_list, offtarget_list):
    for _offtarget in _offtarget_list:
        _mismatch_num = mismatch_calculator.seq_mismatch_count(_ontarget,_offtarget)
        _mismatch_info = mismatch_calculator.seq_mismatch_info_str(_ontarget, _offtarget)
        pd_data_list.append([_ontarget,_offtarget,_mismatch_num, _mismatch_info])

In [ ]:
df_columns = ['on-target','off-target','number of mismatch','mismatch info']
df_dtype = {
    'on-target' : 'category',
    'off-target' : 'category',
    'number of mismatch' : 'int8',
}
pd_data_df = pd.DataFrame(
    pd_data_list,
    columns=df_columns,
).astype(df_dtype)

In [ ]:
pd_data_df.info()

In [ ]:
pd_data_df.head()

In [ ]:
#run_cas_offinder(
#    file_path = f"{path}/{job_name}/run_{job_name}_script.sh",
#    log = True
#)

In [ ]:
tmp_df = analysis_cas_offinder_result(
    output_file_path = f"{path}/{job_name}/{job_name}_output.txt",
    query_text_path = f"{path}/{job_name}/query_{job_name}.txt",
)

In [ ]:
tmp_df

In [ ]:
def query_seq_generate(job_name, path='./', method=generate_8_nC2_data):
    job_path = f"{path}/{job_name}"
    cas_offinder_script_path = f"{job_path}/run_{job_name}_script.sh"
    output_file_path = f"{job_path}/{job_name}_output.txt"
    query_file_path = f"{job_path}/{job_name}_query.txt"
    data = method(
        num_set = 3,
        threshold = 7,
        log = True,
        job_name = job_name,
        save_path = path,
    )
    make_cas_offinder_script(
        query_seq_list = data.query_data,
        job_name = job_name,
        job_path = job_path,
    )
    run_cas_offinder(
        file_path = cas_offinder_script_path,
        log = True,
    )
    result_df = analysis_cas_offinder_result(
        output_file_path = output_file_path,
        query_text_path = query_file_path,
    )
    return result_df

In [ ]:
query_seq_generate(
    job_name = "pipeline_test",
    path = './test',
    method = generate_8_nC2_data,
)

In [ ]:
tmp_data = generate_8_nC2_data(
    num_set = 1,
    threshold = 7,
    log = True,
    job_name = 'test',
    save_path = '.'
)

In [ ]:
tmp_query = tmp_data.query_data
tmp_query

In [ ]:
make_cas_offinder_script(
    query_seq_list = tmp_query,
    job_name = 'test_job',
    job_path = f'./test',
)

In [ ]:
seq_list = tmp_query
batch_type_code_seq_list = []
for _seq in seq_list:
    _type_code = query_type_code_encoder.seq_type_code_encoder(_seq)
    batch_type_code_seq_list.append((_type_code,_seq))

In [ ]:
import pandas as pd

In [ ]:
analysis_cas_offinder_result(
    output_file_path='./test/test_job_out.txt',
    query_text_path='./test/test_query.txt',
    save_csv=True,
)

In [ ]:
command = ["bash",'../test/run_test_job_script.sh']
cas_offinder_run = subprocess.Popen(
    command,
    stdin=subprocess.PIPE,
    stdout=subprocess.PIPE,
    stderr=subprocess.PIPE,
    text=True,
)

In [ ]:
output, log = cas_offinder_run.communicate()

In [ ]:
print(output)

In [ ]:
print(log)

In [ ]:
_seq_1 = 'ACGTAA'
_seq_2 = 'ACGTAA'
_mismatch_seq_list = ['AAGTAA','ACATAA','ACGAAA','ACGTCA','ACGTGG']

In [ ]:
np.sum(np.clip(one_hot_encoder.seq_encoder(_seq_1) - one_hot_encoder.seq_encoder(_seq_2),0,None))

In [ ]:
mismatch_calculator.seq_mismatch_count_list(_seq_1,_mismatch_seq_list)

In [ ]:
ontarget_text_file_path = '/root/volume/q-seq-maker/data/other_paper_data/KHB_Cpf1_1.txt'

In [ ]:
with open(ontarget_text_file_path,'r') as f:
    data = f.read().splitlines()

In [ ]:
data

In [ ]:
%timeit data[0].find('#')
%timeit '#' in data[0]
%timeit p.findall(data[0])

In [ ]:
data_list = []
for _line in data:
    if '#' in _line:
        continue
    else:
        data_list.append(_line.upper())

In [ ]:
data_list

In [ ]:
import editdistance as edis

In [ ]:
edis.eval('abcd','abdd')

In [ ]:
on_list = ['CCGGGGGCGGGGTGGGGGGG',
'GGCCTGGGCAGGATAAAAAA',
'CCTCTTCATTAATAAATTTA',
'GTAGAGACGCGCGGGGGGGG',
'CAAAAAAGGAAACCAATATT',
'ATTTAGACAGAAGGGATAAA',
'AAAAATAAATTAAAAGTGGC',
'TGTTTTCATTTTTTATCCTA',]

In [ ]:
test_seq = ['AGGAGCGGAAGTCTCCGGGG','AAGGCCCCAAGCTAGCCCTG']

In [ ]:
for _t_seq in test_seq:
    print(_t_seq)
    for _o_seq in on_list:
        _dis = edis.eval(_t_seq,_o_seq)
        print(_dis)
    print('#############')

In [ ]:
on_list_all = [
'GGTGCCAGGACAGTGGGGTA',
'CTGACCTGCTGGATTACATC',
'AGGAGTGTTCAGTCTCCGTG',
'CTGATGGTCCATACTTGTTA',
'TCATCTGTGCCCCTCCCTCC',
'TTTTAGCTGAAGGGAAATAA',
'GATCGAATCTTCTAGCCCTT',
'TTTCCCTTCAGCTAAAATAA',

'CCGGGGGCGGGGTGGGGGGG',
'GGCCTGGGCAGGATAAAAAA',
'AAGGCCCCAAGCTAGCCCTG',
'CCTCTTCATTAATAAATTTA',
'GTAGAGACGCGCGGGGGGGG',
'TATATGTCTTCTGCCAGCGA',
'CAAAAAAGGAAACCAATATT',
'ATTTAGACAGAAGGGATAAA',
'AAAAATAAATTAAAAGTGGC',
'TGTTTTCATTTTTTATCCTA',
]
on_list_all = [
'GGTGCCAGGACAGTGGGGTA',
'CTGACCTGCTGGATTACATC',
'AGGAGTGTTCAGTCTCCGTG',
'CTGATGGTCCATACTTGTTA',
'TCATCTGTGCCCCTCCCTCC',
'TTTTAGCTGAAGGGAAATAA',
'GATCGAATCTTCTAGCCCTT',
'TTTCCCTTCAGCTAAAATAA',

'CTCTATTTTACCTCCCCCAG',
'CTCCATTTTACCTCCCCCAG',
]

In [ ]:
search_list = on_list_all
dis_matrix = []
num = len(search_list)
for i in range(num):
    tmp_list = []
    for j in range(num):
        if i == j:
            tmp_list.append(999)
        else:
            tmp_list.append(edis.eval(search_list[i],search_list[j]))
    dis_matrix.append(tmp_list)
dis_matrix = np.array(dis_matrix)

In [ ]:
print(dis_matrix)

In [ ]:
print(dis_matrix.any()<6)

In [ ]:
edis.eval('TTTTAGCTGAAGGGAAATAA','ATTTAGACAGAAGGGATAAA')